.advantage {
  min-height: 562px;
  background-color: #5ba7e5;
  background-image: url("../img/advantage.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @supports (background-image: url("../img/advantage.webp")) {
    background-image: url("../img/advantage.webp");
  }
}

.advantage__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding: 110px 0 75px;

  @media (max-width: 950px) {
    align-content: center;
    padding: 90px 0 100px;
  }

  @media (max-width: 550px) {
    padding: 55px 0 64px;
  }
}

.advantage__wrapper h2 {
  margin: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 150%;
  color: $color-basic-black;

  @media (max-width: 950px) {
    font-size: 26px;
    line-height: 150%;
  }

  @media (max-width: 550px) {
    font-size: 24px;
    line-height: 150%;
  }
}

.advantage__list {
  margin: 50px 0 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;

  @media (max-width: 425px) {
    margin: 30px 0 0;
    justify-content: center;
    align-items: center;
    gap: 28px;
  }

  @media (max-width: 1200px) {
    gap: 30px;
  }
}

.advantage__item {
  box-sizing: border-box;
  padding: 35px 30px 25px;
  width: 360px;
  background: #f9fbfd;

  @media (max-width: 1300px) {
    width: 206px;
    padding: 25px 16px 25px 20px;
  }

  @media (max-width: 550px) {
    width: 290px;
    min-height: 250px;
    padding: 25px 16px 25px 20px;
  }
}

.advantage__item h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: $color-basic-black;

  @media (max-width: 950px) {
    margin: 10px 0 0;
  }
}

.advantage__item p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: $color-basic-black;

  @media (max-width: 950px) {
    margin: 0;
  }
}

.advantage__item--ship {
  @media (max-width: 550px) {
    padding: 32px 16px 20px 20px;
  }
}

.advantage__item--ship svg {
  margin-top: -6px;

  @media (max-width: 550px) {
    width: 21px;
    height: 26px;
  }
}

.advantage__item--ship h3 {
  margin-top: 12px;
  margin-bottom: 0;

  @media (max-width: 550px) {
    width: 200px;
  }
}

.advantage__item--ship p {
  @media (max-width: 950px) {
    margin-top: 9px;
  }
}

.advantage__item--birdie h3 {
  margin-bottom: 0;

  @media (max-width: 550px) {
    width: 200px;
  }

  @media (max-width: 950px) {
    margin-top: 16px;
  }
}

.advantage__item--birdie p {
  margin-top: 9px;
  padding-right: 15px;

  @media (max-width: 950px) {
    margin-top: 6px;
    padding-right: 8px;
  }
}

.advantage__item--boat {
  @media (max-width: 550px) {
    padding: 25px 36px 24px 21px;
  }
}

.advantage__item--boat svg {
  @media (max-width: 550px) {
    width: 38px;
    height: 13px;
  }
}

.advantage__item--boat h3 {
  margin-bottom: 0;

  @media (max-width: 550px) {
    width: 200px;
  }

  @media (max-width: 950px) {
    margin-top: 19px;
  }
}

.advantage__item--boat p {
  margin-bottom: 0;
  max-width: 240px;

  @media (max-width: 950px) {
    margin-top: 9px;
  }
}
