.booking {
  background: url("../img/booking.jpg") center (center/cover) no-repeat rgb(91, 167, 229);
  height: 555px;

  @media (max-width: 550px) {
    height: 760px;
  }

  @media (max-width: 1050px) {
    height: 805px;
  }
}
// height: 760px;
.booking__wrapper {
  margin: 0 auto;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 50px 60px;


  @media (max-width: 1050px) {
    flex-direction: column;
    padding: 80px 60px;
  }

  @media (max-width: 550px) {
    padding: 54px 0;
  }
}

.booking__inner {
  max-width: 493px;
  margin-top: -25px;
}

.booking__form {
  max-width: 403px;

  @media (max-width: 550px) {
    margin-top: 32px;
  }

  @media (max-width: 1050px) {
    margin-top: 60px;
  }
}

.booking__inner h2 {
  font-style: normal;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 40px;
  line-height: 150%;
  text-align: start;
  color: $color-basic-black;

  @media (max-width: 550px) {
    font-size: 24px;
    line-height: 130%;
  }

  @media (max-width: 1050px) {
    text-align: center;
    font-size: 34px;
  }
}

.booking__inner p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: $color-basic-black;
  text-align: start;
  max-width: 352px;

  @media (max-width: 550px) {
    font-size: 16px;
    line-height: 140%;
    margin-top: 15px;
  }

  @media (max-width: 1050px) {
    margin: auto;
    text-align: center;
    font-size: 18px;
  }
}
