.booking {
  background: url("../img/booking.jpg") center (center/cover) no-repeat;
  min-height: 760px;

  @media (max-width: 768px) {
    min-height: 805px;
  }
}

.booking__wrapper {
  padding: 65px 0;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;

  @media (min-width: 768px) {
    padding-top: 90px;
    flex-direction: column;
  }

  @media (min-width: 1366px) {
    padding: 40px 15px;
  }
}

.booking__inner h2 {
  margin: 0;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  color: $color-basic-black;
  text-align: center;

  @media (min-width: 768px) {
    font-size: 34px;
    margin-bottom: 0;
  }
}

.booking__inner p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: $color-basic-black;
  text-align: center;

  @media (min-width: 768px) {
    text-align: center;
  }
}
