.contacts__wrapper {
  padding: 18px 0 80px;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr;

  @media (min-width: 768px) {
    padding: 94px 0;
    column-gap: 33px;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: 1366px) {
    padding: 122px 0;
    column-gap: 100px;
  }
}

.contacts__maps {
  order: 2;
  margin-top: 10px;
}

.contacts__info {
  margin-top: 0;
  max-width: 500px;

  @media (min-width: 768px) {
    justify-self: end;
    order: 3;
  }
}

.contacts__info h2 {
  margin: 40px 0;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: $color-basic-black;

  @media (min-width: 768px) {
    margin: 20px 0;
  }
}

.contacts__info a {
  margin: 25px 0;
  display: flex;
  align-items: center;
  column-gap: 5px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: $color-basic-black;
}
