.contacts__wrapper {
  padding: 120px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 550px) {
    flex-direction: column;
    padding: 38px 0 70px;
  }

  @media (max-width: 1050px) {
    padding: 100px 0;
  }
}

.contacts__maps {
  background-color: #869c54;
  background-image: url("../img/img-map.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @supports (background-image: url("../img/img-map.webp")) {
    background-image: url("../img/img-map.webp");
  }
  height: 306px;
  width: 560px;

  @media (max-width: 550px) {
    width: 290px;
    height: 316px;
    order: 1;
  }

  @media (max-width: 1050px) {
    width: 324px;
    height: 335px;
  }
}

.contacts__info {
  margin-top: 0;
  max-width: 500px;
  order: 0;

  @media (max-width: 1050px) {
    max-width: 324px;
  }
}

.contacts__info h2 {
  margin: 20px 0;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: $color-basic-black;
}

.contacts__info a {
  margin: 25px 0;
  display: flex;
  align-items: center;
  column-gap: 5px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: $color-basic-black;
}
