.cruises {
  padding: 87px 0 96px;
  margin: 0 auto;

  @media (max-width: 550px) {
    padding: 60px 0 36px;
  }

  @media (max-width: 1000px) {
    padding: 90px 0 60px;
  }
}

.cruises h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 150%;
  text-align: center;
  color: $color-basic-black;

  @media (max-width: 550px) {
    font-size: 24px;
  }

  @media (max-width: 1000px) {
    font-size: 26px;
    margin: 0;
  }
}

.cruises__list {
  display: grid;
  margin: 0;
  padding: 25px 15px;
  gap: 30px;
  grid-template-columns: repeat(4, 1fr);

  @media (max-width: 1023px) {
    grid-template-columns: repeat(2, 1fr);
    padding: 45px 15px;
  }

  @media (max-width: 767px) {
    padding: 28px 15px;
    grid-template-columns: 1fr;
  }
}

.cruises__item {
  position: relative;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
}

.cruises__img {
  z-index: 2;
  grid-column: 1/-1;
  grid-row: 1/2;
  position: relative;
}

.cruises__img h3 {
  position: absolute;
  left: 30px;
  bottom: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: $color-basic-white;

  @media (max-width: 550px) {
    left: 19px;
    bottom: 2px;
  }

  @media (max-width: 1023px) {
    left: 39px;
    bottom: 8px;
  }
}

.cruises__img img {
  display: block;
  width: 100%;
  height: 100%;
}

.cruises__card {
  display: flex;
  flex-direction: column;
  padding: 28px 25px 35px;
  color: $color-basic-white;
  background-color: $color-basic-black;
  box-shadow: 0 4px 35px rgba(1, 28, 64, 0.15);
  transition: 0.5s;
  grid-column: 1/-1;
  grid-row: 1/2;

  @media (max-width: 1023px) {
    padding: 30px 35px 34px;
  }

  @media (max-width: 767px) {
    padding: 30px 25px 34px;
  }
}

.cruises__card--active {
  z-index: 99;
  background: $color-basic-black;
}

.cruises__item:focus-within .cruises__card {
  z-index: 99;
}

.cruises__item:hover .cruises__card {
  z-index: 99;
  background: $color-basic-black;
}

.cruises__card h3 {
  margin: 0 0 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: $color-basic-white;
}

.cruises__card h4 {
  margin: 0 0 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  color: $color-basic-white;
}

.cruises__card p {
  margin: 0;
  margin-bottom: 5px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: $color-basic-white;
}

.cruises__card a {
  display: block;
  margin-top: auto;
  padding: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  color: $color-basic-black;
  background: $color-basic-white;
  cursor: pointer;
  text-align: center;
}

.cruises__description {
  height: 236px;
  overflow: auto;
  font-size: 14px;
  line-height: 20px;
  scrollbar-color: #ffffff #808080;
  scrollbar-width: auto;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: #808080;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border: 2px solid #808080;
    border-radius: 20px;
  }
}
