.form .form__inner {
  box-sizing: border-box;
  border: none;
  background: $color-basic-black;
  box-shadow: 0 4px 45px rgba(1, 28, 64, 0.15);
  padding: 45px 44px 48px;
  max-width: 403px;

  @media (max-width: 550px) {
    padding: 32px 28px 44px;
  }
}

.form h3 {
  margin: 0 0 25px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: $color-basic-white;
  text-align: start;

  @media (max-width: 550px) {
    text-align: center;
  }
}

.form__inner .form__input {
  width: 100%;
  border: none;
  padding: 15px 0 11px 19px;
  margin-bottom: 20px;
}

.form label {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}

.form__checkbox-box {
  margin-top: 6px;

  @media (max-width: 1200px) {
    margin-top: 3px;
  }
}

.form__checkbox-box label {
  font-weight: 400;
  font-size: 10px;
  line-height: 120%;
}

.form__checkbox {
  color: $color-basic-white;
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  margin-left: 28px;

  @media (max-width: 550px) {
    width: 150px;
  }
}

.form__checkbox-input {
  max-width: 291px;

  @media (max-width: 550px) {
    max-width: 190px;
  }
}

.form__checkbox-input + label::before {
  content: "";
  position: absolute;
  left: -25px;
  top: -4px;
  width: 20px;
  height: 20px;
  background-color: $color-basic-bg;

  @media (max-width: 550px) {
    left: -27px;
    top: 0;
  }
}

.form__checkbox-input:focus + label::before {
  content: "";
  position: absolute;
  left: -25px;
  top: -4px;
  width: 20px;
  height: 20px;
  border: solid 2px #9b891b;

  @media (max-width: 550px) {
    left: -27px;
    top: 0;
  }
}

.form__checkbox-input:checked + label::after {
  content: "";
  position: absolute;
  top: 2px;
  left: -21px;
  width: 12px;
  height: 8px;
  background: url("../img/svg/checkbox.svg") no-repeat;

  @media (max-width: 550px) {
    top: 6px;
    left: -23px;
  }
}

.form__btn {
  margin-top: 33px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  color: $color-basic-black;
  background: $color-basic-white;
  cursor: pointer;
  padding: 11px 0 11px;

  @media (max-width: 550px) {
    margin-top: 25px;
  }

  @media (max-width: 1200px) {
    margin-top: 36px;
  }
}
