.header {
  background: url("../img/header/antarctir-gb.png") center (center/cover) no-repeat cornflowerblue;
  min-height: 650px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 35px;
}

.header__inner {
  margin-top: 190px;
  margin-left: 96px;
}

.header__inner h1 {
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 54px;
  line-height: 66px;
  color: $color-basic-white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header__inner p {
  margin: 0;
  margin-top: 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: $color-basic-white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
