.header {
  position: relative;
  min-height: 650px;
  padding-bottom: 20px;
  background-color: #5ba7e5;
  background-image: url("../img/header/desktop.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @supports (background-image: url("../img/header/desktop.webp")) {
    background-image: url("../img/header/desktop.webp");
  }

  @media (min-width: 1366px) {
    @media (min-resolution: 2dppx) {
      background-image: url("../img/header/desktop@2.jpg");
    }
  }

  @media (max-width: 768px) {
    min-height: 638px;
    background-image: url("../img/header/tablet.png");

    @supports (background-image: url("../img/header/tablet.webp")) {
      background-image: url("../img/header/tablet.webp");
    }

    @media (min-resolution: 2dppx) {
      background-image: url("../img/header/tablet@2.png");
    }
  }

  @media (max-width: 425px) {
    min-height: 500px;
    background-image: url("../img/header/modile.png");

    @supports (background-image: url("../img/header/modile.webp")) {
      background-image: url("../img/header/modile.webp");
    }

    @media (min-resolution: 2dppx) {
      background-image: url("../img/header/modile@2.png");

      @supports (background-image: url("../img/header/modile@2.webp")) {
        background-image: url("../img/header/modile@2.webp");
      }
    }
  }
}

.header__inner {
  padding-left: 95px;
  padding-top: 162px;

  @media (max-width: 768px) {
    padding-left: 0;
    padding-top: 188px;
  }

  @media (max-width: 425px) {
    padding-top: 123px;
  }
}

.header__inner h1 {
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 54px;
  line-height: 66px;
  color: $color-basic-white;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  @media (max-width: 768px) {
    font-size: 50px;
    line-height: 61px;
  }

  @media (max-width: 425px) {
    font-size: 36px;
    line-height: 125%;
  }
}

.header__inner p {
  margin: 10px 0 0;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: $color-basic-white;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  @media (max-width: 768px) {
    font-size: 18px;
    line-height: 22px;
  }

  @media (max-width: 425px) {
    width: 230px;
    font-size: 16px;
    line-height: 140%;
  }
}

.header__btn {
  display: none;
  border: none;
  background: url("../img/svg/open.svg") center (center/cover) no-repeat;
  width: 24px;
  height: 14px;
  justify-self: end;
  align-self: center;

  @media (max-width: 767px) {
    display: block;
  }
}

[data-btn="is-open"] {
  border: none;
  background: url("../img/svg/close.svg") center (center/cover) no-repeat;
  width: 13px;
  height: 13px;
  grid-column-start: 2;
  grid-row-start: 1;
  justify-self: end;
  align-self: center;
}
