.journey {
  background: $color-basic-white;
  padding: 0;
  padding: 120px 0;
}

.journey .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
}

.journey__info {
  margin-top: -10px;
  max-width: 512px;
}

.journey__info h2 {
  max-width: 430px;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 150%;
  color: $color-basic-black;
}

.journey__img {
  background-color: rgb(91, 167, 229);
}

.journey__img img {
  max-width: 560px;
  max-height: 301px;
}

.journey__info p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: $color-basic-black;
}
