.journey {
  background: $color-basic-white;
  padding: 120px 0;

  @media (max-width: 768px) {
    padding: 100px 0;
    padding-bottom: 75px;
  }
}

.journey .container {
  display: flex;
  justify-content: space-between;
  column-gap: 88px;

  @media (max-width: 768px) {
    column-gap: 30px;
  }
}

.journey__info {
  width: 50%;
  margin-top: 35px;

  @media (max-width: 768px) {
    margin-top: 0;
  }
}

.journey__info h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 150%;
  color: $color-basic-black;


  @media (max-width: 768px) {
    margin: 0;
    max-width: 205px;
    font-weight: 600;
    font-size: 26px;
    line-height: 140%;
  }
}

.journey__info p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: $color-basic-black;

  @media (max-width: 768px) {

  }
}
