.nav {
  display: grid;
  padding: 30px 0;
  grid-template-columns: max-content 1fr;
}

[data-nav="is-open"] {
  position: absolute;
  right: 0;
  width: 280px;
  background-color: $color-basic-bg;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 500px;
  padding: 25px;
  margin-left: 25px;
}


.nav__list {
  display: none;

  @media (min-width: 768px) {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-self: end;
  }
}

[data-nav-list="is-open"] {
  margin: 0;
  padding: 0;
  padding-top: 25px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  grid-row-start: 2;
  grid-column-start: 1;
  grid-column-end: 3;
}

.nav__item a {
  display: block;
  padding: 14px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-right: 33px;
  color: $color-basic-white;
  cursor: pointer;
}

.nav__item:last-child a {
  margin-right: 0;
}
