.nav {
  display: grid;
  padding: 30px 0;
  grid-template-columns: max-content 1fr;
  align-items: center;
  column-gap: 30px;

  @media (max-width: 550px) {
    padding: 22px 0 11px;
  }

  @media (max-width: 768px) {
    padding: 18px 0 13px;
  }
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-self: end;
  flex-wrap: wrap;

  @media (max-width: 767px) {
    display: none;
  }
}

[data-nav-list="is-open"] {
  @media (max-width: 767px) {
    display: block;
    padding: 30px 26px;
    grid-column: 1/-1;
    justify-self: start;
  }
}

.nav__item a {
  display: block;
  padding: 14px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-right: 33px;
  color: $color-basic-white;
  cursor: pointer;

  @media (max-width: 767px) {
    font-size: 18px;
    line-height: 22px;
    color: $color-basic-black;
    margin-right: 0;
  }

  @media (max-width: $vp-1024) {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    margin-right: 22px;
  }
}

.nav__item:last-child a {
  margin-right: 0;
}

[data-nav="is-open"] {
  @media (max-width: 767px) {
    position: absolute;
    right: 0;
    left: 35px;
    display: grid;
    align-content: start;
    height: 100vh;
    padding: 12px;
    overflow: auto;
    background-color: $color-basic-bg;
    grid-template-columns: 1fr 1fr;
    z-index: 3;
  }
}

[data-nav="is-open-no-js"] {
  @media (max-width: 767px) {
    position: relative;
    right: 0;
    left: 15px;
    display: grid;
    align-content: start;
    padding: 12px;
    overflow: auto;
    background-color: $color-basic-bg;
    grid-template-columns: 1fr 1fr;
    z-index: 3;
  }
}
